name: Auto Label PR and Issues

on:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]
  issues:
    types: [opened, reopened, labeled, unlabeled]

jobs:
  label:
    name: Auto Label
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      issues: write
    steps:
      - name: Label PR or Issue
        uses: actions/labeler@v5
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          configuration-path: .github/labeler.yml
          sync-labels: true

